

.book
{
  cursor: pointer;
}

.sport hr
{
  margin-bottom: 10px;
}

.modal-content
{
  margin-top: 100px;
}

.img_modal
  {
    display: inline-block;
  }
.p_modal
  {
      margin-top: 10px;
}
.modal-body
{
    text-align: center
 
}
.container{
    background-color:lightcoral;
    text-align: center;
}
#SPORTS1{
    background-color:coral;
    text-align: center;
}

.font{
    font-size: 30px;
}
#Tennis{
    margin-right: 25px;
}
#Volleyball{
    margin-left: 25px;
}
mark{
    background-color: aquamarine;
}